{"openapi":"3.1.0","info":{"title":"EasySQL API","version":"1.0.0","description":"API do EasySQL — perguntas em linguagem natural sobre bancos MySQL/Postgres/WordPress/SQLite."},"servers":[{"url":"https://api.easysql.net","description":"Produção"},{"url":"http://localhost:8787","description":"Local (wrangler dev)"}],"tags":[{"name":"auth","description":"OIDC login + JWT session"},{"name":"oidc","description":"OIDC login flow (Authentik)"},{"name":"api-keys","description":"API keys para integrações externas"},{"name":"connectors","description":"Conexões com banco do cliente"},{"name":"queries","description":"Perguntas em linguagem natural"},{"name":"feedbacks","description":"Avaliação das respostas"},{"name":"dashboard","description":"Stats agregadas"},{"name":"billing","description":"Planos + Stripe checkout/portal/webhook"},{"name":"health","description":"Health checks"},{"name":"internal","description":"Dev-only utilities (404 in production)"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"UserResponse":{"type":"object","required":["id","email","name","locale","email_verified","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email"},"name":{"type":"string"},"locale":{"type":"string"},"email_verified":{"type":"boolean"},"email_verified_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}},"UserUpdate":{"type":"object","properties":{"locale":{"type":"string","minLength":2,"maxLength":10}}},"TokenResponse":{"type":"object","required":["access_token","refresh_token","token_type"],"properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"token_type":{"type":"string","enum":["bearer"]}}},"TokenRefresh":{"type":"object","required":["refresh_token"],"properties":{"refresh_token":{"type":"string"}}},"OidcCompleteRequest":{"type":"object","required":["state"],"properties":{"state":{"type":"string"}}},"OidcCompleteResponse":{"type":"object","required":["access_token","refresh_token","token_type","user"],"properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"token_type":{"type":"string","enum":["bearer"]},"user":{"type":"object","required":["id","email","name"],"properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email","nullable":true},"name":{"type":"string","nullable":true}}}}},"OidcLogoutResponse":{"type":"object","required":["end_session_url"],"properties":{"end_session_url":{"type":"string","format":"uri","nullable":true,"description":"URL para RP-initiated logout. null se o usuário não veio via OIDC."}}},"ActivePlan":{"type":"object","nullable":true,"required":["id","name","max_queries_daily","max_queries_weekly","max_queries_monthly"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"max_queries_daily":{"type":"integer"},"max_queries_weekly":{"type":"integer"},"max_queries_monthly":{"type":"integer"}}},"UserMeResponse":{"allOf":[{"$ref":"#/components/schemas/UserResponse"},{"type":"object","required":["active_plan"],"properties":{"active_plan":{"$ref":"#/components/schemas/ActivePlan"}}}]},"ApiKeyCreate":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":255}}},"ApiKeyResponse":{"type":"object","required":["id","name","prefix","last_used_at","is_active","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"prefix":{"type":"string"},"last_used_at":{"type":"string","format":"date-time","nullable":true},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"}}},"ApiKeyCreated":{"allOf":[{"$ref":"#/components/schemas/ApiKeyResponse"},{"type":"object","required":["key"],"properties":{"key":{"type":"string","description":"Full key (returned once)"}}}]},"ColumnSchema":{"type":"object","required":["name","type","nullable"],"properties":{"name":{"type":"string"},"type":{"type":"string"},"nullable":{"type":"boolean"},"primary_key":{"type":"boolean","default":false},"default":{"type":"string","nullable":true},"foreign_key":{"type":"object","nullable":true,"properties":{"table":{"type":"string"},"column":{"type":"string"}}}}},"TableSchema":{"type":"object","required":["name","columns"],"properties":{"name":{"type":"string"},"columns":{"type":"array","items":{"$ref":"#/components/schemas/ColumnSchema"}},"rows_approx":{"type":"integer","nullable":true}}},"ConnectorCreate":{"type":"object","required":["type","name"],"properties":{"type":{"type":"string","enum":["mysql","mariadb","postgresql","wp","sqlite"]},"name":{"type":"string","minLength":1,"maxLength":255},"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}}}},"ConnectorUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":255},"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}}}},"ConnectorSyncRequest":{"type":"object","required":["schema"],"properties":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}}}},"ConnectorResponse":{"type":"object","required":["id","type","name","last_sync_at","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","description":"\"mysql\" | \"postgresql\" | \"sqlite\""},"name":{"type":"string"},"last_sync_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}},"ConnectorSchemaResponse":{"type":"object","required":["tables"],"properties":{"tables":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}}}},"SuggestionsResponse":{"type":"object","required":["suggestions"],"properties":{"suggestions":{"type":"array","items":{"type":"string"}}}},"AutocompleteRequest":{"type":"object","required":["question"],"properties":{"question":{"type":"string"}}},"QueryRequest":{"type":"object","required":["connector_id","question"],"properties":{"connector_id":{"type":"string","format":"uuid"},"question":{"type":"string","minLength":1,"maxLength":2000}}},"LocalResultRequest":{"type":"object","required":["result_data"],"properties":{"result_data":{"type":"array","items":{"type":"object","additionalProperties":true}}}},"QueryResponse":{"type":"object","required":["id","question","created_at","status","needs_local_execution"],"properties":{"id":{"type":"string","format":"uuid"},"question":{"type":"string"},"sql_generated":{"type":"string","nullable":true},"answer":{"type":"string","nullable":true},"chart_config":{"type":"object","nullable":true,"additionalProperties":true},"error":{"type":"string","nullable":true},"result_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":true}},"needs_local_execution":{"type":"boolean"},"status":{"type":"string","enum":["processing","ready","failed"]},"created_at":{"type":"string","format":"date-time"}}},"QueryHistoryItem":{"type":"object","required":["id","connector_id","question","status","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"connector_id":{"type":"string","format":"uuid"},"question":{"type":"string"},"sql_generated":{"type":"string","nullable":true},"answer":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"status":{"type":"string","enum":["processing","ready","failed"]},"created_at":{"type":"string","format":"date-time"}}},"PaginatedQueries":{"type":"object","required":["items","total","page","per_page","total_pages"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/QueryHistoryItem"}},"total":{"type":"integer"},"page":{"type":"integer"},"per_page":{"type":"integer"},"total_pages":{"type":"integer"}}},"FeedbackCreate":{"type":"object","required":["positive"],"properties":{"positive":{"type":"boolean"},"comment":{"type":"string","maxLength":2000,"nullable":true}}},"FeedbackResponse":{"type":"object","required":["id","query_id","positive","created_at","updated_at"],"properties":{"id":{"type":"string","format":"uuid"},"query_id":{"type":"string","format":"uuid"},"positive":{"type":"boolean"},"comment":{"type":"string","nullable":true},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"DailyQueryCount":{"type":"object","required":["date","count"],"properties":{"date":{"type":"string","description":"YYYY-MM-DD"},"count":{"type":"integer"}}},"ConnectorUsage":{"type":"object","required":["connector_id","connector_name","query_count"],"properties":{"connector_id":{"type":"string","format":"uuid"},"connector_name":{"type":"string"},"query_count":{"type":"integer"}}},"DashboardStats":{"type":"object","required":["active_connectors","queries_used_this_month","queries_limit","queries_per_day","most_used_connectors","fetched_at"],"properties":{"active_connectors":{"type":"integer"},"queries_used_this_month":{"type":"integer"},"queries_limit":{"type":"integer"},"queries_per_day":{"type":"array","items":{"$ref":"#/components/schemas/DailyQueryCount"}},"most_used_connectors":{"type":"array","items":{"$ref":"#/components/schemas/ConnectorUsage"}},"fetched_at":{"type":"string","format":"date-time"}}},"PlanResponse":{"type":"object","required":["id","name","price","max_connections","max_queries_daily","max_queries_weekly","max_queries_monthly"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"price":{"type":"number"},"max_connections":{"type":"integer"},"max_queries_daily":{"type":"integer"},"max_queries_weekly":{"type":"integer"},"max_queries_monthly":{"type":"integer"}}},"CheckoutResponse":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri"}}},"PortalResponse":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri"}}},"UsageBucket":{"type":"object","required":["used","limit"],"properties":{"used":{"type":"integer"},"limit":{"type":"integer"}}},"UsageResponse":{"type":"object","required":["daily","weekly","monthly","plan_id","plan_name","fetched_at"],"properties":{"daily":{"$ref":"#/components/schemas/UsageBucket"},"weekly":{"$ref":"#/components/schemas/UsageBucket"},"monthly":{"$ref":"#/components/schemas/UsageBucket"},"plan_id":{"type":"string"},"plan_name":{"type":"string"},"fetched_at":{"type":"string","format":"date-time"}}},"HTTPValidationError":{"type":"object","required":["detail"],"properties":{"detail":{"type":"array","items":{"type":"object","required":["loc","msg","type"],"properties":{"loc":{"type":"array","items":{"type":"string"}},"msg":{"type":"string"},"type":{"type":"string"}}}}}},"ErrorResponse":{"type":"object","required":["detail"],"properties":{"detail":{"type":"string"}}}}},"security":[{"BearerAuth":[]}],"paths":{"/health":{"get":{"operationId":"health_health_get","tags":["health"],"summary":"Health check (legacy)","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"/v1/health":{"get":{"operationId":"health_v1_health_get","tags":["health"],"summary":"Health check (versioned)","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"/v1/auth/refresh":{"post":{"operationId":"refresh_v1_auth_refresh_post","tags":["auth"],"summary":"Rotate our access+refresh JWT pair","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRefresh"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Invalid refresh token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/me":{"get":{"operationId":"me_v1_auth_me_get","tags":["auth"],"summary":"Get current user (claims from OIDC ID token + DB state)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMeResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"operationId":"update_me_v1_auth_me_patch","tags":["auth"],"summary":"Update current user locale (name/email come from OIDC ID token)","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMeResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"operationId":"delete_me_v1_auth_me_delete","tags":["auth"],"summary":"Delete current user (hard delete)","responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/logout":{"post":{"operationId":"logout_v1_auth_logout_post","tags":["auth"],"summary":"RP-initiated OIDC logout — returns URL to redirect the browser to Authentik end_session_endpoint","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcLogoutResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/oidc/start":{"get":{"operationId":"oidc_start_v1_auth_oidc_start_get","tags":["oidc"],"summary":"Begin OIDC Authorization Code + PKCE flow (302 to Authentik)","security":[],"responses":{"302":{"description":"Redirect to {issuer}/authorize?... with state, nonce, code_challenge"},"500":{"description":"OIDC not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/oidc/callback":{"get":{"operationId":"oidc_callback_v1_auth_oidc_callback_get","tags":["oidc"],"summary":"OIDC redirect_uri — exchanges code for tokens, provisions user, sets cookie, redirects to /auth/complete","security":[],"parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"302":{"description":"Redirect to {APP_URL}/auth/complete (cookie set in this hop)"},"400":{"description":"Invalid/expired state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/oidc/complete":{"post":{"operationId":"oidc_complete_v1_auth_oidc_complete_post","tags":["oidc"],"summary":"Frontend calls this on /auth/complete to read the one-shot cookie and get tokens","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcCompleteRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcCompleteResponse"}}}},"401":{"description":"Session cookie missing/expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/api-keys":{"get":{"operationId":"list_api_keys_v1_api_keys_get","tags":["api-keys"],"summary":"List API keys (without secret)","responses":{"200":{"description":"OK","content":{"application/json":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeyResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"create_api_key_v1_api_keys_post","tags":["api-keys"],"summary":"Create API key (returns full key once)","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreated"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/api-keys/{key_id}":{"delete":{"operationId":"delete_api_key_v1_api_keys__key_id__delete","tags":["api-keys"],"summary":"Revoke API key (soft delete)","parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Revoked"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connectors":{"get":{"operationId":"list_connectors_v1_connectors_get","tags":["connectors"],"summary":"List connectors","responses":{"200":{"description":"OK","content":{"application/json":{"type":"array","items":{"$ref":"#/components/schemas/ConnectorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"create_connector_v1_connectors_post","tags":["connectors"],"summary":"Create schema-only connector","description":"EZSQL-37: connectors store only schema metadata. No DB credentials are accepted and the API never connects to or executes against a customer database. A client-side runtime (WordPress plugin / SDK / CLI) introspects its own database and pushes the resulting schema here. The web app only lists connectors.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/connectors/{connector_id}":{"parameters":[{"name":"connector_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_connector_v1_connectors__connector_id__get","tags":["connectors"],"summary":"Get connector","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"operationId":"update_connector_v1_connectors__connector_id__patch","tags":["connectors"],"summary":"Update connector","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"operationId":"delete_connector_v1_connectors__connector_id__delete","tags":["connectors"],"summary":"Delete connector","responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connectors/{connector_id}/sync":{"parameters":[{"name":"connector_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"post":{"operationId":"sync_connector_v1_connectors__connector_id__sync_post","tags":["connectors"],"summary":"Push schema from client (refresh)","description":"EZSQL-37: the client-side runtime introspects its own database and POSTs the fresh schema. The API does not open any database connection.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorSyncRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"tables":{"type":"array","items":{"type":"object"}},"last_sync_at":{"type":"string","format":"date-time"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/connectors/{connector_id}/schema":{"parameters":[{"name":"connector_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_connector_schema_v1_connectors__connector_id__schema_get","tags":["connectors"],"summary":"Get cached schema","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectorSchemaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connectors/{connector_id}/suggestions":{"parameters":[{"name":"connector_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_suggestions_v1_connectors__connector_id__suggestions_get","tags":["connectors"],"summary":"LLM-generated Portuguese business questions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuggestionsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connectors/{connector_id}/autocomplete":{"parameters":[{"name":"connector_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"post":{"operationId":"autocomplete_v1_connectors__connector_id__autocomplete_post","tags":["connectors"],"summary":"LLM autocomplete for partial question","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutocompleteRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuggestionsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/queries":{"get":{"operationId":"list_queries_v1_queries_get","tags":["queries"],"summary":"Paginated query history","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"default":1}},{"name":"per_page","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedQueries"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"operationId":"create_query_v1_queries_post","tags":["queries"],"summary":"Ask question (generate SQL only — client executes)","description":"EZSQL-37: the API NEVER executes queries server-side. It generates + validates SQL from the connector's cached schema, persists the question, and returns `needs_local_execution: true`. A client-side runtime executes the SQL locally and POSTs the result to /v1/queries/{id}/answer. Requires API key authentication (JWT → 403) because questions are only asked by external connector runtimes, not the web app.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryRequest"}}}},"responses":{"200":{"description":"OK (SQL generated, needs_local_execution=true)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"API key required — the web app does not ask questions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Connector not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/queries/{query_id}":{"parameters":[{"name":"query_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_query_v1_queries__query_id__get","tags":["queries"],"summary":"Get query detail (poll this to wait for status=ready)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/queries/{query_id}/answer":{"parameters":[{"name":"query_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"post":{"operationId":"answer_query_v1_queries__query_id__answer_post","tags":["queries"],"summary":"WP plugin submits locally-executed result (API key only)","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocalResultRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"API key only","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/queries/{query_id}/stream":{"parameters":[{"name":"query_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"stream_query_v1_queries__query_id__stream_get","tags":["queries"],"summary":"SSE stream — emits QueryResponse every 500ms until ready/failed or 60s timeout","responses":{"200":{"description":"SSE stream","content":{"text/event-stream":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/feedbacks/{query_id}":{"parameters":[{"name":"query_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"put":{"operationId":"upsert_feedback_v1_feedbacks__query_id__put","tags":["feedbacks"],"summary":"Upsert feedback for a query","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackCreate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Query not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"operationId":"get_feedback_v1_feedbacks__query_id__get","tags":["feedbacks"],"summary":"Get feedback for a query","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"operationId":"delete_feedback_v1_feedbacks__query_id__delete","tags":["feedbacks"],"summary":"Delete feedback for a query","responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/dashboard/stats":{"get":{"operationId":"dashboard_stats_v1_dashboard_stats_get","tags":["dashboard"],"summary":"Dashboard stats (connectors, queries, top usage)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardStats"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/plan":{"get":{"operationId":"get_plan_v1_billing_plan_get","tags":["billing"],"summary":"List plans (Free/Starter/Pro/Business)","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"type":"array","items":{"$ref":"#/components/schemas/PlanResponse"}}}}}}},"/v1/billing/usage":{"get":{"operationId":"get_usage_v1_billing_usage_get","tags":["billing"],"summary":"Current usage vs plan limits (daily/weekly/monthly)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/checkout":{"post":{"operationId":"checkout_v1_billing_checkout_post","tags":["billing"],"summary":"Create Stripe Checkout session","parameters":[{"name":"price_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutResponse"}}}},"400":{"description":"Missing price_id or already has subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/portal":{"post":{"operationId":"portal_v1_billing_portal_post","tags":["billing"],"summary":"Create Stripe Customer Portal session","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalResponse"}}}},"400":{"description":"No active subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/webhook":{"post":{"operationId":"webhook_v1_billing_webhook_post","tags":["billing"],"summary":"Stripe webhook (verify HMAC SHA-256)","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad signature","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/internal/email/test":{"post":{"operationId":"test_internal_email_v1_internal_email_test_post","tags":["internal"],"summary":"Render or send an email template via Resend. Dev-only (404 in production).","parameters":[{"name":"preview","in":"query","schema":{"type":"string","enum":["1"]},"description":"If '1', returns rendered HTML without calling Resend."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["template","to","name"],"properties":{"template":{"type":"string","enum":["verify-account","password-reset","welcome","password-changed"]},"to":{"type":"string","format":"email"},"name":{"type":"string"},"token":{"type":"string","description":"Optional. Auto-generated if not provided."}}}}}},"responses":{"200":{"description":"Email rendered (preview) or sent"},"404":{"description":"Not found (production only)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/internal/email/preview":{"get":{"operationId":"preview_internal_email_v1_internal_email_preview_get","tags":["internal"],"summary":"Return rendered HTML for an email template. Dev-only (404 in production).","parameters":[{"name":"template","in":"query","required":true,"schema":{"type":"string","enum":["verify-account","password-reset","welcome","password-changed"]}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"email"}},{"name":"token","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Rendered HTML"},"404":{"description":"Not found (production only)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}}}