{"openapi":"3.1.0","info":{"title":"EasySQL API","version":"1.0.0","description":"API do EasySQL — perguntas em linguagem natural sobre bancos MySQL/Postgres/WordPress/SQLite."},"servers":[{"url":"https://api.easysql.net","description":"Produção"},{"url":"http://localhost:8787","description":"Local (wrangler dev)"}],"tags":[{"name":"auth","description":"OIDC login + JWT session"},{"name":"oidc","description":"OIDC login flow (Authentik)"},{"name":"api-keys","description":"API keys para integrações externas"},{"name":"connections","description":"Conexões com banco do cliente"},{"name":"integrations","description":"Catálogo de integrações (client/extension/connector/provider)"},{"name":"queries","description":"Perguntas em linguagem natural"},{"name":"feedbacks","description":"Avaliação das respostas"},{"name":"dashboard","description":"Stats agregadas"},{"name":"analytics","description":"Registro de queries (Cloudflare Analytics Engine)"},{"name":"flags","description":"Feature flags (Cloudflare Flagship)"},{"name":"billing","description":"Planos + Stripe checkout/portal/webhook"},{"name":"health","description":"Health checks"},{"name":"internal","description":"Dev-only utilities (404 in production)"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"UserResponse":{"type":"object","required":["id","email","name","locale","email_verified","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email"},"name":{"type":"string"},"locale":{"type":"string"},"email_verified":{"type":"boolean"},"email_verified_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}},"UserUpdate":{"type":"object","properties":{"locale":{"type":"string","minLength":2,"maxLength":10}}},"TokenResponse":{"type":"object","required":["access_token","refresh_token","token_type"],"properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"token_type":{"type":"string","enum":["bearer"]}}},"TokenRefresh":{"type":"object","required":["refresh_token"],"properties":{"refresh_token":{"type":"string"}}},"OidcCompleteRequest":{"type":"object","required":["state"],"properties":{"state":{"type":"string"}}},"OidcCompleteResponse":{"type":"object","required":["access_token","refresh_token","token_type","user"],"properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"token_type":{"type":"string","enum":["bearer"]},"user":{"type":"object","required":["id","email","name"],"properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string","format":"email","nullable":true},"name":{"type":"string","nullable":true}}}}},"OidcLogoutResponse":{"type":"object","required":["end_session_url"],"properties":{"end_session_url":{"type":"string","format":"uri","nullable":true,"description":"URL para RP-initiated logout. null se o usuário não veio via OIDC."}}},"ActivePlan":{"type":"object","nullable":true,"required":["id","name","credits_5h","credits_7d","support_tier"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"credits_5h":{"type":"integer"},"credits_7d":{"type":"integer"},"support_tier":{"type":"string"}}},"UserMeResponse":{"allOf":[{"$ref":"#/components/schemas/UserResponse"},{"type":"object","required":["active_plan","claims","idp_profile_url"],"properties":{"active_plan":{"$ref":"#/components/schemas/ActivePlan"},"claims":{"type":"object","additionalProperties":true,"nullable":true,"description":"Claims completos do ID token OIDC (fonte do perfil)."},"idp_profile_url":{"type":"string","format":"uri","nullable":true,"description":"URL da interface de usuário do IdP para editar o perfil."}}}]},"ApiKeyCreate":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":255}}},"ApiKeyResponse":{"type":"object","required":["id","name","prefix","last_used_at","is_active","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"prefix":{"type":"string"},"last_used_at":{"type":"string","format":"date-time","nullable":true},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"}}},"ApiKeyCreated":{"allOf":[{"$ref":"#/components/schemas/ApiKeyResponse"},{"type":"object","required":["key"],"properties":{"key":{"type":"string","description":"Full key (returned once)"}}}]},"ColumnSchema":{"type":"object","required":["name","type","nullable"],"properties":{"name":{"type":"string"},"type":{"type":"string"},"nullable":{"type":"boolean"},"primary_key":{"type":"boolean","default":false},"default":{"type":"string","nullable":true},"foreign_key":{"type":"object","nullable":true,"properties":{"table":{"type":"string"},"column":{"type":"string"}}}}},"TableSchema":{"type":"object","required":["name","columns"],"properties":{"name":{"type":"string"},"columns":{"type":"array","items":{"$ref":"#/components/schemas/ColumnSchema"}},"rows_approx":{"type":"integer","nullable":true}}},"ConnectionCreate":{"type":"object","required":["type","name"],"properties":{"type":{"type":"string","enum":["mysql","mariadb","postgresql","wp","sqlite","clickhouse"]},"name":{"type":"string","minLength":1,"maxLength":255},"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}},"db_version":{"type":"string","description":"DB engine version reported by the client runtime (e.g. 'MySQL 8.0.36', 'SQLite 3.45.1')"}}},"ConnectionUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":255},"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}},"db_version":{"type":"string","description":"DB engine version reported by the client runtime (e.g. 'MySQL 8.0.36', 'SQLite 3.45.1')"}}},"ConnectionSyncRequest":{"type":"object","required":["schema"],"properties":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}},"db_version":{"type":"string","description":"DB engine version reported by the client runtime (e.g. 'MySQL 8.0.36', 'SQLite 3.45.1')"}}},"ConnectionResponse":{"type":"object","required":["id","type","name","db_version","last_sync_at","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","description":"\"mysql\" | \"mariadb\" | \"postgresql\" | \"sqlite\" | \"clickhouse\""},"name":{"type":"string"},"db_version":{"type":"string","nullable":true},"last_sync_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}},"ConnectionSchemaResponse":{"type":"object","required":["tables","db_version"],"properties":{"tables":{"type":"array","items":{"$ref":"#/components/schemas/TableSchema"}},"db_version":{"type":"string","nullable":true}}},"SuggestionsResponse":{"type":"object","required":["suggestions"],"properties":{"suggestions":{"type":"array","items":{"type":"string"}}}},"AutocompleteRequest":{"type":"object","required":["question"],"properties":{"question":{"type":"string"}}},"QueryRequest":{"type":"object","required":["connection_id","question"],"properties":{"connection_id":{"type":"string","format":"uuid"},"question":{"type":"string","minLength":1,"maxLength":2000}}},"QueryResponse":{"type":"object","required":["id","question","created_at","status","needs_local_execution"],"properties":{"id":{"type":"string","format":"uuid"},"question":{"type":"string"},"sql_generated":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"needs_local_execution":{"type":"boolean"},"status":{"type":"string","enum":["processing","ready","failed"]},"created_at":{"type":"string","format":"date-time"}}},"QueryHistoryItem":{"type":"object","required":["id","connection_id","question","status","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"connection_id":{"type":"string","format":"uuid"},"question":{"type":"string"},"sql_generated":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"status":{"type":"string","enum":["processing","ready","failed"]},"created_at":{"type":"string","format":"date-time"}}},"HistoryPage":{"type":"object","required":["items","next_cursor"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/QueryHistoryItem"}},"next_cursor":{"type":"string","nullable":true,"description":"Cursor for the next page (created_at of the last item); null when exhausted."}}},"FeedbackCreate":{"type":"object","required":["query_id","positive"],"properties":{"query_id":{"type":"string","format":"uuid"},"positive":{"type":"boolean"},"comment":{"type":"string","maxLength":2000,"nullable":true}}},"FeedbackResponse":{"type":"object","required":["id","query_id","positive","created_at"],"properties":{"id":{"type":"string","format":"uuid"},"query_id":{"type":"string","format":"uuid"},"positive":{"type":"boolean"},"comment":{"type":"string","nullable":true},"created_at":{"type":"string","format":"date-time"}}},"DailyQueryCount":{"type":"object","required":["date","count"],"properties":{"date":{"type":"string","description":"YYYY-MM-DD"},"count":{"type":"integer"}}},"ConnectionUsage":{"type":"object","required":["connection_id","connection_name","query_count"],"properties":{"connection_id":{"type":"string","format":"uuid"},"connection_name":{"type":"string"},"query_count":{"type":"integer"}}},"DashboardStats":{"type":"object","required":["active_connections","queries_used_this_month","queries_limit","queries_per_day","most_used_connections","fetched_at"],"properties":{"active_connections":{"type":"integer"},"queries_used_this_month":{"type":"integer"},"queries_limit":{"type":"integer"},"queries_per_day":{"type":"array","items":{"$ref":"#/components/schemas/DailyQueryCount"}},"most_used_connections":{"type":"array","items":{"$ref":"#/components/schemas/ConnectionUsage"}},"fetched_at":{"type":"string","format":"date-time"}}},"FlagsResponse":{"type":"object","required":["analytics_screen"],"properties":{"analytics_screen":{"type":"boolean","description":"Visibilidade da tela Analytics no dashboard web (flag analytics-screen)."}}},"AnalyticsQueryEvent":{"type":"object","required":["timestamp","operation","question","sql","status","error_code","total_tokens","latency_ms"],"properties":{"timestamp":{"type":"string"},"operation":{"type":"string"},"question":{"type":"string"},"sql":{"type":"string","nullable":true},"status":{"type":"string"},"error_code":{"type":"string","nullable":true},"total_tokens":{"type":"integer"},"latency_ms":{"type":"integer"}}},"AnalyticsQueriesResponse":{"type":"object","required":["items","count","days"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsQueryEvent"}},"count":{"type":"integer"},"days":{"type":"integer"}}},"PlanResponse":{"type":"object","required":["id","name","price","price_annual","credits_5h","credits_7d","support_tier","stripe_price_id_monthly","stripe_price_id_annual"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"price":{"type":"number"},"price_annual":{"type":"number"},"credits_5h":{"type":"integer"},"credits_7d":{"type":"integer"},"support_tier":{"type":"string"},"stripe_price_id_monthly":{"type":["string","null"]},"stripe_price_id_annual":{"type":["string","null"]}}},"CheckoutResponse":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri"}}},"PortalResponse":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri"}}},"SubscriptionStateResponse":{"type":"object","required":["cancel_at_period_end"],"properties":{"cancel_at_period_end":{"type":"boolean"},"current_period_end":{"type":["string","null"],"format":"date-time"}}},"PaymentMethod":{"type":"object","required":["brand","last4","exp_month","exp_year"],"properties":{"brand":{"type":["string","null"]},"last4":{"type":["string","null"]},"exp_month":{"type":["integer","null"]},"exp_year":{"type":["integer","null"]}}},"SubscriptionDetails":{"type":"object","required":["plan_id","plan_name","status","current_period_start","current_period_end","cancel_at_period_end","interval","amount","currency","scheduled_plan","scheduled_change_at","payment_method"],"properties":{"plan_id":{"type":"string"},"plan_name":{"type":["string","null"]},"status":{"type":"string"},"current_period_start":{"type":["string","null"],"format":"date-time"},"current_period_end":{"type":["string","null"],"format":"date-time"},"cancel_at_period_end":{"type":"boolean"},"interval":{"type":["string","null"]},"amount":{"type":["integer","null"]},"currency":{"type":["string","null"]},"scheduled_plan":{"type":["string","null"],"description":"Plan the subscription switches to at scheduled_change_at"},"scheduled_change_at":{"type":["string","null"],"format":"date-time"},"payment_method":{"anyOf":[{"$ref":"#/components/schemas/PaymentMethod"},{"type":"null"}]}}},"SubscriptionDetailsResponse":{"type":"object","required":["subscription"],"properties":{"subscription":{"anyOf":[{"$ref":"#/components/schemas/SubscriptionDetails"},{"type":"null"}]}}},"Invoice":{"type":"object","required":["id","number","status","amount","currency","created","hosted_invoice_url","invoice_pdf"],"properties":{"id":{"type":"string"},"number":{"type":["string","null"]},"status":{"type":["string","null"]},"amount":{"type":"integer"},"currency":{"type":"string"},"created":{"type":"string","format":"date-time"},"hosted_invoice_url":{"type":["string","null"],"format":"uri"},"invoice_pdf":{"type":["string","null"],"format":"uri"}}},"InvoiceListResponse":{"type":"object","required":["invoices"],"properties":{"invoices":{"type":"array","items":{"$ref":"#/components/schemas/Invoice"}}}},"UsageWindow":{"type":"object","required":["kind","used_pct","remaining_pct","window_start","window_end"],"properties":{"kind":{"type":"string","enum":["5h","7d"]},"used_pct":{"type":"number"},"remaining_pct":{"type":"number"},"window_start":{"type":"string","format":"date-time"},"window_end":{"type":"string","format":"date-time"}}},"UsageResponse":{"type":"object","required":["plan_id","plan_name","cancel_at_period_end","current_period_end","windows","fetched_at"],"properties":{"plan_id":{"type":"string"},"plan_name":{"type":"string"},"cancel_at_period_end":{"type":"boolean"},"current_period_end":{"type":["string","null"],"format":"date-time"},"windows":{"type":"array","items":{"$ref":"#/components/schemas/UsageWindow"}},"fetched_at":{"type":"string","format":"date-time"}}},"Integration":{"type":"object","required":["id","type","name","status"],"properties":{"id":{"type":"string"},"type":{"type":"string","enum":["client","extension","connector","provider"]},"name":{"type":"string"},"description":{"type":"object","properties":{"en":{"type":"string"},"pt":{"type":"string"}},"required":["en"]},"logo":{"type":"string"},"docs_url":{"type":"string","format":"uri"},"status":{"type":"string","enum":["available","coming_soon","deprecated"]},"engine":{"type":"string","enum":["mysql","mariadb","postgresql","sqlite","clickhouse"]},"default_port":{"type":"integer"},"capabilities":{"type":"array","items":{"type":"string"}},"host":{"type":"string"},"connectors":{"type":"array","items":{"type":"string"}},"install_url":{"type":"string","format":"uri"},"package":{"type":"string"},"install_command":{"type":"string"},"os":{"type":"array","items":{"type":"string","enum":["linux","macos","windows"]}},"access":{"type":"string","enum":["wire_password","http_token","ssh_tunnel","file"]}}},"HTTPValidationError":{"type":"object","required":["detail"],"properties":{"detail":{"type":"array","items":{"type":"object","required":["loc","msg","type"],"properties":{"loc":{"type":"array","items":{"type":"string"}},"msg":{"type":"string"},"type":{"type":"string"}}}}}},"ErrorResponse":{"type":"object","required":["detail"],"properties":{"detail":{"type":"string"}}}}},"security":[{"BearerAuth":[]}],"paths":{"/health":{"get":{"operationId":"health_health_get","tags":["health"],"summary":"Health check (legacy)","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"/v1/health":{"get":{"operationId":"health_v1_health_get","tags":["health"],"summary":"Health check (versioned)","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"/v1/auth/refresh":{"post":{"operationId":"refresh_v1_auth_refresh_post","tags":["auth"],"summary":"Rotate our access+refresh JWT pair","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRefresh"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Invalid refresh token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/me":{"get":{"operationId":"me_v1_auth_me_get","tags":["auth"],"summary":"Get current user (claims from OIDC ID token + DB state)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMeResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"operationId":"update_me_v1_auth_me_patch","tags":["auth"],"summary":"Update current user locale (name/email come from OIDC ID token)","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMeResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"operationId":"delete_me_v1_auth_me_delete","tags":["auth"],"summary":"Delete current user (hard delete)","responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/logout":{"post":{"operationId":"logout_v1_auth_logout_post","tags":["auth"],"summary":"RP-initiated OIDC logout — returns URL to redirect the browser to Authentik end_session_endpoint","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcLogoutResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/oidc/start":{"get":{"operationId":"oidc_start_v1_auth_oidc_start_get","tags":["oidc"],"summary":"Begin OIDC Authorization Code + PKCE flow (302 to Authentik)","security":[],"responses":{"302":{"description":"Redirect to {issuer}/authorize?... with state, nonce, code_challenge"},"500":{"description":"OIDC not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/oidc/callback":{"get":{"operationId":"oidc_callback_v1_auth_oidc_callback_get","tags":["oidc"],"summary":"OIDC redirect_uri — exchanges code for tokens, provisions user, sets cookie, redirects to /auth/complete","security":[],"parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"302":{"description":"Redirect to {DASHBOARD_URL}/auth/complete (cookie set in this hop)"},"400":{"description":"Invalid/expired state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/auth/oidc/complete":{"post":{"operationId":"oidc_complete_v1_auth_oidc_complete_post","tags":["oidc"],"summary":"Frontend calls this on /auth/complete to read the one-shot cookie and get tokens","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcCompleteRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcCompleteResponse"}}}},"401":{"description":"Session cookie missing/expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/api-keys":{"get":{"operationId":"list_api_keys_v1_api_keys_get","tags":["api-keys"],"summary":"List API keys (without secret)","responses":{"200":{"description":"OK","content":{"application/json":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeyResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"create_api_key_v1_api_keys_post","tags":["api-keys"],"summary":"Create API key (returns full key once)","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreated"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/api-keys/{key_id}":{"delete":{"operationId":"delete_api_key_v1_api_keys__key_id__delete","tags":["api-keys"],"summary":"Revoke API key (soft delete)","parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Revoked"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connections":{"get":{"operationId":"list_connections_v1_connections_get","tags":["connections"],"summary":"List connections","responses":{"200":{"description":"OK","content":{"application/json":{"type":"array","items":{"$ref":"#/components/schemas/ConnectionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"create_connection_v1_connections_post","tags":["connections"],"summary":"Create schema-only connection","description":"EZSQL-37: connections store only schema metadata. No DB credentials are accepted and the API never connects to or executes against a customer database. A client-side runtime (WordPress plugin / SDK / CLI) introspects its own database and pushes the resulting schema here. The web dashboard only lists connections.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/connections/{connection_id}":{"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_connection_v1_connections__connection_id__get","tags":["connections"],"summary":"Get connection","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"operationId":"update_connection_v1_connections__connection_id__patch","tags":["connections"],"summary":"Update connection","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"operationId":"delete_connection_v1_connections__connection_id__delete","tags":["connections"],"summary":"Delete connection","responses":{"204":{"description":"Deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connections/{connection_id}/sync":{"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"post":{"operationId":"sync_connection_v1_connections__connection_id__sync_post","tags":["connections"],"summary":"Push schema from client (refresh)","description":"EZSQL-37: the client-side runtime introspects its own database and POSTs the fresh schema. The API does not open any database connection.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionSyncRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"tables":{"type":"array","items":{"type":"object"}},"last_sync_at":{"type":"string","format":"date-time"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/connections/{connection_id}/schema":{"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_connection_schema_v1_connections__connection_id__schema_get","tags":["connections"],"summary":"Get cached schema","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionSchemaResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connections/{connection_id}/suggestions":{"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_suggestions_v1_connections__connection_id__suggestions_get","tags":["connections"],"summary":"LLM-generated Portuguese business questions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuggestionsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/connections/{connection_id}/autocomplete":{"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"post":{"operationId":"autocomplete_v1_connections__connection_id__autocomplete_post","tags":["connections"],"summary":"LLM autocomplete for partial question","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutocompleteRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuggestionsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/queries":{"get":{"operationId":"list_queries_v1_queries_get","tags":["queries"],"summary":"Cursor-paginated query history (R2 Data Catalog)","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","schema":{"type":"string","nullable":true},"description":"created_at of the last item of the previous page."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryPage"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"operationId":"create_query_v1_queries_post","tags":["queries"],"summary":"Ask question (generate SQL only — client executes)","description":"EZSQL-37: the API NEVER executes queries server-side and NEVER receives customer data. It generates + validates SQL from the connection's cached schema, persists the question, and returns `needs_local_execution: true`. A client-side runtime executes the SQL locally and renders the answer/chart on its side. Requires API key authentication (JWT → 403) because questions are only asked by external connection runtimes, not the web dashboard.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryRequest"}}}},"responses":{"200":{"description":"OK (SQL generated, needs_local_execution=true)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"API key required — the web dashboard does not ask questions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Connection not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/queries/{query_id}":{"parameters":[{"name":"query_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"operationId":"get_query_v1_queries__query_id__get","tags":["queries"],"summary":"Get query detail","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/feedbacks":{"post":{"operationId":"create_feedback_v1_feedbacks_post","tags":["feedbacks"],"summary":"Create feedback (append-only; no read/update/delete)","description":"O usuário só cria feedback (N por query, a qualquer momento). Não há endpoints de leitura/edição na API pública; feedbacks são lidos apenas no backoffice (R2 SQL).","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/dashboard/stats":{"get":{"operationId":"dashboard_stats_v1_dashboard_stats_get","tags":["dashboard"],"summary":"Dashboard stats (connections, queries, top usage)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardStats"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/analytics/queries":{"get":{"operationId":"list_analytics_queries_v1_analytics_queries_get","tags":["analytics"],"summary":"User's queries from Cloudflare Analytics Engine (last N days)","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":90,"default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsQueriesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid limit/days","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"Analytics Engine upstream error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Analytics Engine read not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/flags":{"get":{"operationId":"get_flags_v1_flags_get","tags":["flags"],"summary":"Feature flags for the current user (Cloudflare Flagship)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlagsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/integrations":{"get":{"operationId":"list_integrations_v1_integrations_get","tags":["integrations"],"summary":"List the integration catalog","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"type":"array","items":{"$ref":"#/components/schemas/Integration"}}}}}}},"/v1/integrations/{integration_id}":{"parameters":[{"name":"integration_id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"operationId":"get_integration_v1_integrations__integration_id__get","tags":["integrations"],"summary":"Get one integration by id","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Integration"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/plan":{"get":{"operationId":"get_plan_v1_billing_plan_get","tags":["billing"],"summary":"List plans (Free/Starter/Pro/Max)","security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"type":"array","items":{"$ref":"#/components/schemas/PlanResponse"}}}}}}},"/v1/billing/usage":{"get":{"operationId":"get_usage_v1_billing_usage_get","tags":["billing"],"summary":"Current usage as percentage per window (5h/7d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/subscription":{"get":{"operationId":"get_subscription_v1_billing_subscription_get","tags":["billing"],"summary":"Current subscription details (period, amount, card)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDetailsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/invoices":{"get":{"operationId":"list_invoices_v1_billing_invoices_get","tags":["billing"],"summary":"Payment history for the user's Stripe customer","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":12}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceListResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/checkout":{"post":{"operationId":"checkout_v1_billing_checkout_post","tags":["billing"],"summary":"Create Stripe Checkout session","parameters":[{"name":"price_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutResponse"}}}},"400":{"description":"Missing price_id or already has subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/portal":{"post":{"operationId":"portal_v1_billing_portal_post","tags":["billing"],"summary":"Create Stripe Customer Portal session","parameters":[{"name":"price_id","in":"query","required":false,"schema":{"type":"string"},"description":"Deep-links into the plan-change flow for this price"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalResponse"}}}},"400":{"description":"No active subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/cancel":{"post":{"operationId":"cancel_v1_billing_cancel_post","tags":["billing"],"summary":"Schedule subscription cancellation at period end","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionStateResponse"}}}},"400":{"description":"No active subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/resume":{"post":{"operationId":"resume_v1_billing_resume_post","tags":["billing"],"summary":"Revert a scheduled cancellation","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionStateResponse"}}}},"400":{"description":"No active subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/billing/webhook":{"post":{"operationId":"webhook_v1_billing_webhook_post","tags":["billing"],"summary":"Stripe webhook (verify HMAC SHA-256)","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad signature","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/internal/email/test":{"post":{"operationId":"test_internal_email_v1_internal_email_test_post","tags":["internal"],"summary":"Render or send an email template via Resend. Dev-only (404 in production).","parameters":[{"name":"preview","in":"query","schema":{"type":"string","enum":["1"]},"description":"If '1', returns rendered HTML without calling Resend."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["template","to","name"],"properties":{"template":{"type":"string","enum":["verify-account","password-reset","welcome","password-changed"]},"to":{"type":"string","format":"email"},"name":{"type":"string"},"token":{"type":"string","description":"Optional. Auto-generated if not provided."}}}}}},"responses":{"200":{"description":"Email rendered (preview) or sent"},"404":{"description":"Not found (production only)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/internal/email/preview":{"get":{"operationId":"preview_internal_email_v1_internal_email_preview_get","tags":["internal"],"summary":"Return rendered HTML for an email template. Dev-only (404 in production).","parameters":[{"name":"template","in":"query","required":true,"schema":{"type":"string","enum":["verify-account","password-reset","welcome","password-changed"]}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"email"}},{"name":"token","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Rendered HTML"},"404":{"description":"Not found (production only)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}}}